* {
  background-color: #f6f8fd;
  box-sizing: border-box;
}

header .flex-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

nav li{
  display: inline;
  list-style-type: none;
  padding: 10px;
}

.profile img{
  width: 200px;
}
