* {
  box-sizing: border-box;
}

header .flex-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  position: sticky;
}

nav li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  justify-content: end;
}

.profile img {
  width: 200px;
}

.jumbotron {
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  font-size: 20px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}
